@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    background-color: #f4ede5;
    width: 97%;
    margin: auto;
}
.yellow {
    color: #eca900;
}
p {
    color: rgb(104, 104, 104);
}
/* mobile */
    .header input {
        display: none;
    }
    .header {
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin: 10px 0px;
    }
    .header p {
        display: none;
    }
    .header nav {
        display: none;
    }
    .aparecer {
        background-color: white;
    }
    .logo {
        width: 140px;
        text-align: left;
        margin-left: 0px;
    }
    .hamburguer {
        width: 40px;
        margin-right: 0px;
    }
    main {
        padding-top: 40px;
    }
    .ligacao {
        display: none;
    }
    h1 {
        font-size: 2.5em;
        width: 80%;
        margin-left: 0px;
    }
    main > p {
        line-height: 20px;
        margin-left: 0px;
    }
    .classebotao {
        margin-left: 0px;
        padding: 20px 0px;
    }
    #botao {
        padding: 15px 20px;
        width: 140px;
        border-radius: 4px;
        color: white;
        background-color: rgb(0, 77, 0);
        font-weight: bold;
        cursor: pointer;
    }
    #botao:hover {
        background-color: rgb(0, 57, 0);
    }
    .pardois {
        display: flex;
        justify-content: space-between;
        width: 290px;
        margin-left: 0px;
    }
    .minilogo {
        height: 20px;
        width: 20px;
        padding: 8px;
    }
    .par {
        margin: auto;
        text-align: center;
        padding-top: 35px;
    }
    .logotipos { 
        text-align: center;
        justify-content: space-between;
    }
    .flogos {
        padding: 9px;
        width: 41%;
        max-width: 200px;
    }

/* desktop */
@media screen and (min-width: 900px) {
    * {
        width: 80vw;
        margin: auto;
    }
    .header {
        padding-top: 24px;
    }
    .header input {
        display: block;
        margin-right: 0px;
    }
    .header p {
        width: 200px;
        text-align: right;
        padding: 20px;
        display: block;
    }
    .header nav {
        width: 210%;
        text-align: center;
        display: block;
    }
    .header nav a {
        padding: 15px;
        text-decoration: none;
        color: rgb(104, 104, 104);
    }
    .logo {
        width: 44%;
    }
    .hamburguer {
        display: none;
    }
    .menu {
        background-color: white;
        display: block;
        position: relative;
        width: 250px;
        padding: 10px 0px;
    }
    .menu-logos {
        height: 30px;
        background-color: white;
        width: 50px;
    }
    .submenu {
        background-color: white;
        width: 80%;
    }
    .menu h2 {
        font-size: 1em;
        background-color: white;
        width: 80%;
    }
    .menu p {
        font-size: 0.9em;
        background-color: white;
        width: 80%;
    }
    .casa {
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin: 10px 0px;
    }
    h1 {
        font-size: 3em;
    }
    p {
        width: 80%;
        margin-left: 0px;
    }
    .texto {
        width: 62%;
        margin-left: 0px;
    }
    .ligacao {
        display: block;
        margin-right: 0px;
        width: 38%;
        max-width: 270px;
    }
    .flogos {
        padding: 17px;
        width: 32%;
        max-width: 150px;
    }
}